extends layout

block content
  h1= title
  p application 2
  p Ceci est une application express
  p Je modifie encore la vue , maginfique
  p  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum exercitationem modi corporis, quos corrupti at provident id deserunt blanditiis quis dolorem hic? Voluptate dolore reprehenderit quasi ea ipsum temporibus iste.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis sit suscipit repellendus. Ab doloremque eius inventore, aliquam voluptatum quibusdam? Harum, enim quae mollitia nesciunt itaque est facere perferendis odio veniam.
  p Une autre modification de la branche dev