extends layout

block content
  h1= title
  p Application 1
  p hello wordl!
  p Nouveau test 
  p Ultime modification pour le CD 
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea minus, quas aspernatur voluptas exercitationem porro modi commodi quae perferendis maxime ipsum explicabo quo culpa tempore asperiores cum deserunt recusandae non?
  p Lorem ipsum dolor sit amet   consectetur adipisicing elit. Nobis quia consequuntur atque cupiditate nostrum molestiae inventore optio modi dolores dicta accusamus, dolore, laboriosam qui vero a praesentium recusandae, laudantium quos?
