extends layout

block content
  h1= title
  p application 3
  p une autre application express
  p Genial! Je suis sur la branche dev
  p cool ! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae accusantium porro officiis! Eius voluptas deleniti officia, autem voluptatum magnam nulla ipsum soluta, reprehenderit voluptatibus exercitationem, totam quasi. Voluptates, optio animi.
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis fugiat iste unde, velit dicta beatae consequatur reiciendis soluta distinctio consequuntur  nisi nostrum aperiam id vero quisquam officia aspernatur labore laborum!
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus necessitatibus quae fugiat dolore vitae! Excepturi voluptates, vel accusamus totam, odit officia quasi ullam, aliquam voluptas quisquam similique magnam ad recusandae?
